.toDoList{
    width: 400px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   flex-direction: column;
   position: relative;
    .removeItem{
        display: inline;
        position: relative;
    }
    .removeItem:before, .removeItem:after {
        content: "";
         position: absolute;
         left: -8px;
         top: 8px;
         width: 12px;
         height: 1.5px;
         background: #4a4a4a;
    }
    .removeItem:before {transform: rotate(45deg);}
    .removeItem:after {transform: rotate(-45deg);}
}
.descriptionText{
   position: absolute;
   top: -30px;
   left: 200px;
   padding: 2rem;
}

.tittleText{
    color:#4a4a4a;
    display: inline;
    margin-bottom: 10px;
}
