.container {
    padding: 20px;
    width: 70%;
    height: 100%;
    margin: 15px auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: #e8e9eb;
    border-radius: 5%;
    h1{
        font-size: 40px;
        color: #595959;
    }
    .dropDownContainer{
        display: flex;
        justify-content: space-around;
    }
}
