// ****** BUTTONS PRIMARY ****** //
$button-background: var(--button-background, #6370f0);
$button-background-hover: var(--button-background-hover, hsla(215, 5%, 35%, 1));
$button-border: var(--button-border, hsla(0, 0%, 55%, 1));
$button-text: var(--button-text, hsla(0, 0%, 98%, 1));
