// ****** BUTTONS PRIMARY ****** //
$button-background: var(--button-background, #6370f0);
$button-background-hover: var(--button-background-hover, hsla(215, 5%, 35%, 1));
$checkbox-background: var(--checkbox-background, #6370f0);
$checkbox-color: var(--checkbox-color, #6370f0);